var selector = $('select#y_axis');

-# $(selector).empty();
-# $(selector).prop('disabled', false);
-# $(selector).append( $('<option>Επιλέξτε Εγκατάσταση</option>'));
$(selector).append( $('<option>Επιλέξτε Εγκατάσταση</option>'));

-# - @values.each do |value| %>
-#   $(selector).append( '<option value="#{value}"> "#{value}" </option>'.html_safe );
