= semantic_form_for Contact.new, url: contact_path do |f|
  - unless current_user
    = f.input :email, label: 'Το e-mail σας', input_html: { required: 'required', class: 'wow fadeInUp' }
  = f.input :subject, label: 'Θέμα', as: :select, collection: ['Χρήση', 'Συνδρομή', 'Άλλο'], include_blank: false, input_html: { class: 'wow fadeInUp' }
  %label{ class: 'control-label', for: 'contact_body'}
    Κείμενο *
  %textarea.form-control{ rows: 10, maxlength: 500, required: 'required', name: 'contact[body]', class: 'wow fadeInUp' }

  %br
  = f.submit 'Αποστολή', class: 'btn btn-default wow fadeInUp'
