.well.well-large
  %h2 Cookies
  %p Για να εξασφαλίσουμε τη σωστή λειτουργία του ιστότοπου, μερικές φορές τοποθετούμε μικρά αρχεία δεδομένων στον υπολογιστή σας, τα λεγόμενα «cookies». Οι περισσότεροι μεγάλοι ιστότοποι κάνουν το ίδιο.
  %h3 Τι είναι τα cookies;
  %p Τα  cookies είναι μικρά αρχεία κειμένου τα οποία ένας ιστότοπος αποθηκεύει στον υπολογιστή σας ή στην κινητή σας συσκευή όταν επισκέπτεστε αυτόν τον ιστότοπο. Με τον τρόπο αυτό, ο ιστότοπος θυμάται τις ενέργειές σας και τις προτιμήσεις σας (όπως  κωδικός σύνδεσης, γλώσσα,  μέγεθος γραμματοσειράς και άλλες προτιμήσεις απεικόνισης) για ένα χρονικό διάστημα, κι έτσι δεν χρειάζεται να εισάγετε τις προτιμήσεις αυτές κάθε φορά που επισκέπτεστε τον ιστότοπο ή φυλλομετρείτε τις σελίδες του.
  %h3 Πως χρησιμοποιούμε τα cookies;
  .alert

    .alert.alert-info
      %ul
        %li Για την αναγνώριση των χρηστών μας
        %li Για την πρόσβαση στον λογαριασμό των χρηστών (login)
        %li Για την καταγραφή γενικών στοιχείων επισκεψιμότητας
        %li Για την τεχνικά εύρυθμη λειτουργία των υπηρεσιών του ιστοτόπου

      %p Η ενεργοποίηση αυτών των cookies είναι απαραίτητη για τη λειτουργία του ιστότοπου και τη δημιουργία λογαριασμού σε αυτόν.
      %p
        Οι πληροφορίες που σχετίζονται με τα cookies δεν χρησιμοποιούνται για να σας ταυτοποιήσουν προσωπικά.
        Τα cookies δε χρησιμοποιούνται σε καμία περίπτωση για την καταγραφή προσωπικών δεδομένων του χρήστη, δε λαμβάνουν γνώση οποιουδήποτε εγγράφου ή αρχείου από τον υπολογιστή του, δεν προκαλούν οποιαδήποτε βλάβη στους ηλεκτρονικούς υπολογιστές των χρηστών.


  %h3 Πώς να ελέγχετε τα cookies
  %p
    Μπορείτε να ελέγχετε και/ή να διαγράφετε τα cookies ανάλογα με τις επιθυμίες σας. Λεπτομέρειες θα βρείτε εδώ:
    = succeed "." do
      %a{:href => "http://www.aboutcookies.org/", :rel => "nofollow"} aboutcookies.org
