.row
  .col-md-12
    %div{ role: 'tabpanel' }
      #tabs.nav-center
        %ul.text-center.nav.nav-tabs{ role: 'tablist' }
          %li.active{ role: 'presentation' }
            %a{ href: '#content-stats', 'aria-controls': 'content-stats', 'data-toggle': 'tab', role: 'tab' } All Content

          %li{ role: 'presentation' }
            %a{ href: '#posting_stats', 'aria-controls': 'posting_stats', 'data-toggle': 'tab', role: 'tab' } Activity

      .tab-content
        .tab-pane.active#content-stats{ role: 'tabpanel'}
          = render partial: 'content_stats'

        .tab-pane#posting_stats{ role: 'tabpanel'}
          = render partial: 'posting_statistics'
