.row
  .col-md-6.col-md-offset-3
    = render partial: 'home/reactions'

= render partial: 'shared/content_graphs', locals: { data: @trending_graph_data[:all], kind: 'all' }

.row
  .col-md-4.col-md-offset-4
    %hr.bold
.row
  .col-md-12.text-center
    %h1
      Your posts with the most reactions
  = render partial: 'shared/posts_list', locals: { posts_max_reaction: posts_per_max_reaction}
