.page-header
  %h2
    .text-center
      Δυστυχώς παρουσιάστηκε κάποιο σφάλμα
%h3.text-center
  Παρακαλούμε προσπαθήστε ξανά
  %br
%h4.text-center Κάντε ανανέωση στον φυλλομετρητή σας για να μεταβείτε στη σελίδα που θέλετε
%br
%br

%h3.text-center
  Αν εξακολουθείτε να αντιμετωπίζετε πρόβλημα μετά από μερικά λεπτά
  = link_to 'μη διστάσετε να επικοινωνήσετε μαζί μας!', contact_path
