var kind = "#{@kind}";
var category = "#{@category}";

$('#total_reactions_' + kind + '_chart_' + category).replaceWith("<div id='total_reactions_' + kind + '_chart_' + category>#{escape_javascript(render partial: 'home/graph').html_safe}</div>");
