.text-pink {
  color: pink;
}

.word-break {
  word-break: break-word;
 }

table#overall-statistics {
  table-layout: fixed;
}

.row-eq-height {
  display: flex;
	flex-wrap: wrap;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: 1em;
  color: white;
  padding: 20px 20px 20px 20px;
  width: fit-content;
}

.speech-bubble:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.link-white-color > a {
  color: white !important;
}

.panel-warning > .panel-heading {
  background-color: #f0ad4e !important;
}

.panel-warning {
  border-color: #eea236 !important;
}

.panel-purple {
  border: 1px solid #bab5b9;
}

.panel-purple > .panel-heading {
  background-color: #b48ead;
}

.panel-green {
  border: 1px solid #a3bc8d;
}

.panel-purple > .panel-heading, .panel-footer {
  background-color: #adc896;
}

.btn-purple {
  background-color: #69558f !important;
  border-color: #69558f !important;
}

.btn-purple:hover  {
  background-color: #58457b !important;
}

// For pills menu
.nav-center {
  text-align: center;
  ul.nav {
    display: inline-block;
  }
}
