.navbar.navbar-bottom
  %hr
  %ul.nav.navbar-nav.fullwidth
    .col-md-12.text-center
      %li
        %p.text-center
          This web application lets you keep track of your Facebook page's activity and it was developed as part of my Master's thesis in Applied Informatics.
          %br
          It offers multiple representations of your data, as well as the flexibility to select which statistics you want to view.
